$MontserratBold: MontserratBold;
$RobotoRegular: RobotoRegular;

.schema > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.schema {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 135px 0 150px;

  img {
    left: -310px;
    top: 80px;
    position: absolute;
  }

  &-title {
    width: 80%;
    margin-bottom: 130px;
    font-family: $MontserratBold;
    font-size: 40px;
    line-height: 126%;
    text-align: center;
    color: #2C434F;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    &-top {
      display: flex;
      flex-direction: row;
      &-item {
        display: flex;
        flex-direction: row;
        &-pointer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: #fff;
            box-shadow: 0 4px 18px rgba(99, 98, 105, 0.4);
            border-radius: 50%;
            div {
              width: 11px;
              height: 11px;
              background: #27CCD7;
              border-radius: 50%;
            }
          }
          &-dash {
            height: 219px;
            border: 1px dashed #BDBCBC;
          }
        }
        &-text {
          margin-top: -10px;
          p {
            line-height: 150%;
          }
          p:nth-child(1) {
            margin-bottom: 25px;
            font-family: $MontserratBold;
            font-size: 24px;
            color: #2B2A2A;
          }
          p:nth-child(2) {
            font-family: $RobotoRegular;
            font-size: 16px;
            color: #595959;
          }
        }
      }
      &-item:nth-child(1) > .schema-content-top-item-text {
        padding: 0 90px 15px 20px;
        p {
          width: 250px;
        }
      }
      &-item:nth-child(2) > .schema-content-top-item-text {
        padding: 0 40px 15px 20px;
        p {
          width: 250px;
        }
      }
      &-item:nth-child(3) > .schema-content-top-item-text {
        padding: 0 60px 15px 20px;
        p {
          width: 290px;
        }
      }
    }
    &-mid {
      height: 7px;
      background-color: #14303D;
      border-radius: 20px;
    }
    &-bottom {
      margin-left: 70px;
      display: flex;
      flex-direction: row;
      &-item {
        display: flex;
        flex-direction: column;
        &-point {
          display: flex;
          flex-direction: row;
          &-pointer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            &-circle {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              background-color: #fff;
              box-shadow: 0 4px 18px rgba(99, 98, 105, 0.4);
              border-radius: 50%;
              div {
                width: 11px;
                height: 11px;
                background: #27CCD7;
                border-radius: 50%;
              }
            }
            &-dash {
              height: 125px;
              border: 1px dashed #BDBCBC;
            }
          }
          p {
            margin-bottom: -10px;
            padding-left: 20px;
            display: flex;
            align-items: flex-end;
            font-family: $MontserratBold;
            font-size: 24px;
            color: #2B2A2A;
            line-height: 150%;
          }
        }
        &-text {
          padding: 35px 0 0 40px;
          p {
            width: 280px;
            line-height: 150%;
            font-family: $RobotoRegular;
            font-size: 16px;
            color: #595959;
          }
        }
      }
      &-item:nth-child(1) > &-item-text {
        padding-right: 70px;
      }
      &-item:nth-child(2) > &-item-text {
        padding-right: 20px;
      }
      &-item:nth-child(3) > &-item-text > p {
        width: 250px;
      }
    }
  }
}
