/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/*FONTS*/
//HelveticaNeueCyr
@font-face {
  font-family: HelveticaNeueCyrBold;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format("opentype");
}
@font-face {
  font-family: HelveticaNeueCyrRegular;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format("opentype");
}
//Montserrat
@font-face {
  font-family: MontserratNormal;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format("opentype");
}
@font-face {
  font-family: MontserratBlack;
  src: url('../fonts/Montserrat/Montserrat-Black.ttf') format("opentype");
}
@font-face {
  font-family: MontserratBold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format("opentype");
}
//Roboto
@font-face {
  font-family: RobotoNormal;
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format("opentype");
}
@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format("opentype");
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format("opentype");
}

/*PRE LOADER*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
    .preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }
    .preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
